.master--nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.master--nav-ul {
    display: flex;
    list-style: none;
}
.master--nav-li-btn {
    border: none;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.master--li-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.master--nav-li-btn:hover {
    color: blue;
}
.master--nav-btn {
    @extend .master--nav-li-btn;
}