@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="/CSS/master.css" rel="stylesheet" />
</head>
<header>
	<nav class="master--nav-container">
		<h1 class="master--nav-title">SnusMeMore</h1>
		<div class="master--li-container">
			<ul class="master--nav-ul">
				<li class="master--nav-li">
					<a class="master--nav-li-btn" href="/">hem</a>
				</li>
				<li class="master--nav-li">
					<a class="master--nav-li-btn" href="/">Snussorter</a>
				</li>
				<li class="master--nav-li">
					<a class="master--nav-li-btn" href="/">Nikotinfri snus</a>
				</li>
				<li class="master--nav-li">
					<a class="master--nav-li-btn" href="/">Vit snus</a>
				</li>
			</ul>
			<a class="master--nav-li-btn">Snussorter</a>
		</div>
	</nav>
</header>

<footer>Skapad av grupp 5</footer>

</html>