.snus--list {
    display: flex;
    justify-content: center;
}
.snus--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem;
}
.snus-card {
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.snus-card:hover {
    border: 0.5px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.snus--list-img {
    width: 100%;
    height: 12.5rem;
    object-fit: contain;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}
.snus-card:hover .snus--list-img {
    transform: scale(1.2);
}
.snus--list-title {
    display: flex;
    justify-self: center;
    font-size: 1rem;
}
.snus--list-category {
    font-size: 0.8rem;
}
.snus--list-price{
    font-size: 1.3rem;
    font-weight: bold;
}
.snus--list-btn {
    display: flex;
    justify-self: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}
.snus--list-btn:hover {
    transform: scale(1.2);
}

@media (max-width: 950px) {
    .snus--grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 700px) {
    .snus--grid {
        grid-template-columns: repeat(2, 1fr);
    }
}